/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: #0809;
}
header{
    background-color: #006400;
    font-size: 40px;
    font-weight:bold;
    text-decoration: underline;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}
h2{
    font-size: 30px;
    font-weight:bold;
    text-decoration: underline;
}
.article{
    margin: 35px 20px 20px 35px;
}
.paragraph{
    margin: 15px 0px 10px 0px;
    font-size: 20px;
}
ul{
    list-style: disc;
}
li{
    margin-left: 35px;
}
.fig {
    text-align: left;
    margin: 0px 15px 5px 0px;
    float: left;
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}
footer{
    background-color: #4682b4;
    font-size: 15px;
    min-height: 50px;
}
.int_rights{
    float: left;
    text-align: center;
    margin: 20px;
}
.final_picture{
    margin: 0px 0px 15px 30px;
}
.psevdo{
    position: relative;
}
.psevdo::after{
    background: #0ff5;
    width: 300px;
	height: 200px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
